// Colors:
$brand: #702082;
$gray-dark: #201f23;
$gray: #748693;
$gray-light: #eef2f5;
$gray-medium-light: #b9c2c9;
$gray-super-light: #fbfcfc;
$text: #000;
$brand-alt: $gray-light;
$brand-contrast: #303030;

//sizes
$standard_unit: 1vw;
$mobile_unit: calc(7px + 0.5vw);

//Break points:
$mainbreak:1046px;

//Times:
$duration: 0.4s;

//Fonts:
$standard_text: sans-serif;